<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Average Data</title>
</head>
<body>
<table border="1">
    <caption> Result:</caption>
    <tr>
        <th></th>
        <th>Average height</th>
        <th></th>
        <th>Average weight</th>
    </tr>
    <tr>
        <td>Inches</td>
        <td>{{ height / count }}</td>
        <td>Pounds</td>
        <td>{{ weight / count }}</td>
    </tr>
    <tr>
        <td>Meters</td>
        <td>{{ convert_inches_to_centimeters(height) / count }}</td>
        <td>Kilograms</td>
        <td>{{ convert_pounds_to_kilograms(weight) / count }}</td>
    </tr>
</table>
<p>
    <a href="/"> To index </a>
</body>
</html>