<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Customers table</title>
</head>
<body>
<a href="/"> To index </a>
<table border="1">
    <caption>Customers</caption>
    <tr>
        {%for name in names%}
        <td>name</td>
        {%endfor%}
    </tr>
    {%for row in rows%}
    <tr>
        {%for val in row%}
        <td> {{ val }}</td>
        {%endfor%}
    </tr>
    {%endfor%}
</table>
<p>
    <a href="/"> To index </a>
</p>
</body>
</html>