<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Generes</title>
</head>
<body>
<table border="1">
    <caption>Tracks length group by generes</caption>
    <tr>
        <th><b> Length (secs) </b></th>
        <td><b>Ganer</b></td>
    </tr>
    {%for row in rows%}
    <tr>
        <td>{{ row[0] }}</td>
        <td>{{ row[1] }}</td>
    </tr>
    {%endfor%}
</table>
<p><a href="/"> To index </a>
</body>
</html>