<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Generate customer</title>
</head>
<body>
<p>
Generated customer
<table border="1">
    <tr>
        {%for header in headers%}
        <th>{{ header }}</th>
        {%endfor%}
    </tr>
    <tr>
        {%for val in values%}
        <th>{{ val }}</th>
        {%endfor%}
    </tr>
</table>
<p><a href="/"> To index </a>
</body>
</html>