<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Password</title>
</head>
<body>
Use parameters: chars = 1 or 0. For including or not characters in password. <br>
length = [6..50] for password length<br>
For example: <a href="/password?chars=1&length=30"> http://127.0.0.1:10080/password?chars=1&length=30</a>
<p>
    Random password is: {{ password }}, <br>
    for given parameters:<br>
<ul>
    <li>Include letters: {{ need_letters }}</li>
    <li>Length: {{ length }}</li>
</ul>
</p>
<p><a href="/"> To index </a>'
</body>
</html>