<!DOCTYPE HTML>
<html>
<head>
    <title>Random users</title>
</head>
<body>
<table border="1">
    <caption>Random users</caption>
    <tr>
        <th>#</th>
        <th>User</th>
        <th>Email</th>
    </tr>
    {% for user in data %}
    <tr>
        <td>{{ user[0] }}</td>
        <td>{{ user[1] }}</td>
        <td>{{ user[2] }}</td>
    </tr>
    {% endfor %}
</table>
<p>
    <a href="/">To index page</a>
</p>
</body>
</html>