<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Requirements</title>
</head>
<body>
<table border="1">
    <caption>Requirements.txt</caption>
    <tr>
        <th>Name</th>
        <th>Value</th>
    </tr>
    {%for key, value in reader.items() %}
    <tr>
        <td> {{ key }}</td>
        <td> {{ value }}</td>
    </tr>
    {% endfor %}
</table>
<p><a href="/"> To index </a>
</body>
</html>