<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Unique names</title>
</head>
<body>
The count of unique names is {{ count }}
<p>
<table border="1">
    <caption> Customer table</caption>
    <tr>
        <th> ID</th>
        <th> First name</th>
        <th> Last name</th>
    </tr>
    {%for row in rows %}
    <tr>
        <td>{{ row[0] }}</td>
        <td>{{ row[1] }}</td>
        <td>{{ row[2] }}</td>
    </tr>
    {%endfor%}
</table>
<p><a href="/"> To index </a>
</body>
</html>